:root {
    --preto: #000000;
    --branco: #ffffff;
    --cinzaclaro1: #87939b;
    --cinzaescuro1: #2e3a41;
    --cinzatransparente1: rgba(255, 255, 255, 0.356);
    --marrom1: rgb(77, 75, 75);
    --transparente1: #4caf4f00;
    --cinzalogo: rgba(248, 248, 248, 0.582);
  }

  @media screen and (min-width: 800px) and (min-height: 400px) {
    h1#logo {
        font-size: 4em;
        top: 8%;
        left: 10%;
    }

    section#principal {
        height: 60vh;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    section#principal > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        
    }
    div#menu {
        float: left;
        width: 50%;
        padding: 20px;
    }

    div#menu > h1#mensagemini {
        padding: 5px;
        padding-left: 10px;
        color: var(--cinzaescuro1);
        text-align: left;
    }

    div#menu > p {
        padding-top: 10px;
        font-size: 1em;
    } 
    
    input[type="submit"].lp {
        margin-top: 15px;
        font-size: 1.3em;
    }
    
    input[type="submit"].lp:hover {
        background-color: var(--cinzaescuro1);
    }
}

  @media screen and (min-width: 1000px) and (min-height: 600px) {

    h1#logo {
        font-size: 4em;
        top: 8%;
        left: 10%;
    }

    section#principal {
        height: 60vh;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    section#principal > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        
    }

    div#menu {
        float: left;
        width: 50%;
        padding: 20px;
    }

    div#menu > h1#mensagemini {
        padding: 5px;
        padding-left: 10px;
        color: var(--cinzaescuro1);
        text-align: left;
    }

    div#menu > p {
        padding-top: 10px;
        font-size: 1em;
    } 
    
    input[type="submit"].lp {
        margin-top: 15px;
        font-size: 1.3em;
    }
    
    input[type="submit"].lp:hover {
        background-color: var(--cinzaescuro1);
    }
}

  @media screen and (min-width: 1400px) and (min-height: 750px) {

    h1#logo {
        font-size: 4em;
        top: 8%;
        left: 10%;
    }

    section#principal {
        height: 60vh;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    section#principal > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        
    }

    div#menu {
        float: left;
        width: 50%;
        padding: 20px;
    }

    div#menu > h1#mensagemini {
        padding: 5px;
        padding-left: 10px;
        color: var(--cinzaescuro1);
        text-align: left;
    }

    div#menu > p {
        padding-top: 10px;
        font-size: 1em;
    } 
    
    input[type="submit"].lp {
        margin-top: 15px;
        font-size: 1.3em;
    }
    
    input[type="submit"].lp:hover {
        background-color: var(--cinzaescuro1);
    }

    div.botao-container {
        padding-top: 3vh;
    }
}

@media screen and (min-width: 1600px) and (min-height: 900px) {
    h1#logo {
        font-size: 4em;
        top: 15%;
        left: 10%;
    }

    section#principal {
        height: 50vh;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    section#principal > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        
    }
    div#menu {
        float: left;
        width: 50%;
        padding: 20px;
    }

    div#menu > h1#mensagemini {
        padding: 5px;
    }

    div#menu > p {
        padding-top: 10px;
        font-size: 1.1em;
        text-indent: 10px;
    } 
    
    input[type="submit"].lp {
        margin-top: 20px;
        font-size: 1.5em;
    }
    
    input[type="submit"].lp:hover {
        background-color: var(--cinzaescuro1);
    }

    

}

@media screen and (min-width: 1900px) and (min-height: 900px) {
    h1#logo {
        font-size: 4em;
        top: 15%;
        left: 10%;
    }

    section#principal {
        height: 50vh;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    section#principal > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    div#menu {
        float: left;
        width: 50%;
        padding: 20px;
    }

    div#menu > h1#mensagemini {
        padding: 5px;
    }

    div#menu > p {
        padding-top: 10px;
        font-size: 1.1em;
    } 
    

    input[type="submit"].lp {
        margin-top: 20px;
        font-size: 1.5em;
    }
    
    input[type="submit"].lp:hover {
        background-color: var(--cinzaescuro1);
    }

    div.botao-container {
        padding-top: 1vh;
    }
    

    

   
}