@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

input[type="submit"].lp {
    
    width: 100%;
    height: 40px;
    background-color: #4caf4f00; 
    color: white; 
    padding: 10px 20px; 
    border: 1px black;
    cursor: pointer;
}

input[type="submit"].lp:hover {
    background-color: #5e5e5e;
}

body, html {
    background-color: #87939b;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, #2e3a41, #87939b);
}

h1#logo {
    display: none;
}

section#principal {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: auto;

    background-color: rgba(255, 255, 255, 0.356);
    width: 80vw;
    height: 95vh;
    overflow: hidden;
    
    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease;
}



section > div#menu > h1 {
    padding: 50px;
    text-align: center;
}

section > div#menu > p > form > input {
    text-align: center;
}

section#principal > div#imagem {
    display: block;
    background: rgb(92, 64, 64) url(imagens/pexels-scott-webb-532568.jpg) no-repeat;
    background-size: cover;
    background-position: right top;
    height: 250px;
}