@charset "UTF-8";

:root {
    --preto: #000000;
    --branco: #ffffff;
    --cinzaclaro1: #87939b;
    --cinzaclaro2: #cdd5da;
    --cinzaescuro1: #2e3a41;
    --cinzaescuro2: #1A1F24;
    --cinzatransparente1: rgba(255, 255, 255, 0.356);
    --cinzatransparente2: #f6f7f9b7;
    --cinzatransparente3: #2e3a41c0;
    --marrom1: rgb(92, 64, 64);
    --transparente1: #4caf4f00;
    --cinzalogo: rgba(248, 248, 248, 0.582);
    --vermelho: rgb(129, 17, 17);
    --azul: rgb(5, 70, 155);
    --amarelo: rgb(155, 153, 5);
    --vermelho-forte: rgb(184, 27, 27);
    --azul-forte: rgb(14, 104, 221);
    --amarelo-forte: rgb(218, 214, 7);
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar-track {
    background-color: var(--cinzaescuro2); /* cor de fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background-color: var(--cinzaescuro1); /* cor do indicador da barra de rolagem */
}




@media screen and (min-width: 1300px) and (min-height: 600px) {
    .table {
        font-size: 0.1em;
    }

    .headermenu {
        min-height: 3vh;
        max-height: 3vh;
        font-size: 0.8em;
    }

    nav.navmenu {
        max-height: 6vh;
    }

    .conteudo {
        height: calc(100vh - 4vh);
    }
    .conteudo-informacional > h1 {
        font-size: 0.5em;
    }
    .conteudo-opcoes-novosite {
        max-height: 12vh;
        min-height: 10vh;
    }
    #conteudo-opcoes-novosite-botao {
        font-size: 1.2em;
        padding-top: 0vh;
    }
    .conteudo-opcoes-novosite-direito > p {
        font-size: 0.8em;
    }

    .conteudo-fundo > div > h2{
        font-size: 1.2em;
    }
    .conteudo-fundo > div > h3 {
        font-size: 1em;
    }

}


@media screen and (max-width: 1400px) and (max-height: 800px) {
    
    .headermenu {
        min-height: 6vh;
        max-height: 6vh;
    }

    nav.navmenu {
        max-height: 6vh;
    }

    .conteudo {
        height: calc(100vh - 6vh);
    }
    .conteudo-informacional > h1 {
        font-size: 1.2em;
    }
    .conteudo-opcoes-novosite {
        max-height: 12vh;
        min-height: 10vh;
    }
    #conteudo-opcoes-novosite-botao {
        font-size: 1.2em;
        padding-top: 0vh;
    }
    .conteudo-opcoes-novosite-direito > p {
        font-size: 0.8em;
    }

    .conteudo-fundo > div > h2{
        font-size: 1.2em;
    }
    .conteudo-fundo > div > h3 {
        font-size: 1em;
    }


}

