@charset "UTF-8";

:root {
    --preto: #000000;
    --branco: #ffffff;
    --cinzaclaro1: #87939b;
    --cinzaclaro2: #cdd5da;
    --cinzaescuro1: #2e3a41;
    --cinzaescuro2: #1A1F24;
    --cinzatransparente1: rgba(255, 255, 255, 0.356);
    --cinzatransparente2: #f6f7f9b7;
    --cinzatransparente3: #2e3a41c0;
    --marrom1: rgb(92, 64, 64);
    --transparente1: #4caf4f00;
    --cinzalogo: rgba(248, 248, 248, 0.582);

}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar-track {
    background-color: var(--cinzaescuro2); /* cor de fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background-color: var(--cinzaescuro1); /* cor do indicador da barra de rolagem */
}




main {
    height: 100vh;
    background: url(imagens/pexels-scott-webb-532568.jpg) no-repeat;
    background-size: cover;
    background-position: right bottom;
    background-attachment: fixed;
    overflow: hidden;
}

body, html {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, var(--cinzaescuro1), var(--cinzaclaro1));
    background-attachment: fixed;
    overflow: hidden;
}

.principal-menu {
    background-color: var(--cinzatransparente3);
    
}

.headermenu {
    display: flex;
    width: 100%;
    color: var(--branco);
    min-height: 4.5vh;
    max-height: 4.5vh;
}

nav.navmenu {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    max-height: 4.5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: var(--cinzaescuro2);
    /* background: url(imagens/pexels-scott-webb-532568.jpg) no-repeat;
    background-size: cover;
    background-position: right bottom; */
    
}

div.navmenu-opcoes > a:hover {
    color: var(--cinzaclaro1);
    
}

div.navmenu-opcoes > div > a:hover, span:hover {
    color: var(--cinzaclaro1);
    
}



div.navmenu-opcoes > a {
    height: 100%;
    
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    text-decoration: none;
    color: var(--branco);
}

div.navmenu-usuario {
    display: inline-block;
    position: absolute;
    right: 3%;
    text-align: right;
}

div.navmenu-usuario > a, span {
    text-decoration: none;
    color: var(--branco);
    text-align: right;
}

div.navmenu-usuario > a {
    margin-left: 3vw;
}


div.navmenu-usuario > a > span {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    padding-left: 0.3vw;
}

.logo {
    display: inline-block;
    
    padding-left: 1vw;
    padding-right: 2vw;

}

.menu-lateral-esquerdo {
    display: block;
    width: 5%;
    position: absolute;
    height: calc(100vh - 4.5vh);
    background-color: var(--cinzaescuro2);
}

.menu-lateral-esquerdo-opcoes {
    display: block;
}
.menu-lateral-esquerdo-opcoes > a {
    display: flex;
    text-decoration: none;
    color: var(--cinzaclaro2);
    padding: 2vw;
    margin: auto;
}


.conteudo {
    margin: auto;
    margin-bottom: 1vh;
    width: 60%;
    padding: 3vw;
    height: calc(100vh - 4.5vh);
    background-color: var(--cinzaescuro1);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    background-size: cover;
    overflow: auto;
}

.conteudo-editor {
    margin: auto;
    margin-bottom: 1vh;
    width: 80%;
    padding: 3vw;
    height: calc(100vh - 4.5vh);
    background-color: var(--cinzaescuro1);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    background-size: cover;
    overflow: auto;
}


.conteudo-fundo {
    display: flex;
    padding: 0.3vw;
    background-color: var(--cinzaescuro2);
    margin-top: 3%;
}

.conteudo-fundo > a {
    display: flex;
    text-decoration: none;
    color: var(--preto);
    padding: 0vh;
    margin-left: 1vw;
}

.conteudo-opcoes {
    width: 50%;
    height: 25vh;
    padding: 1vw;
    background-color: var(--cinzaclaro2);
    margin: 1vw;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.conteudo-opcoes-area-texto {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    padding: 2vw;
    background-color: var(--cinzaclaro2);
    margin: 1vw;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    padding-top: 0vh;
}


.conteudo-opcoes-direito {
    
    display: inline-block;
    width: 50%;
    max-height: 50%;
    min-height: 10vh;
    color: var(--cinzaclaro2);
    margin: 1vw;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    padding: 0.5vw;
}

.conteudo-opcoes-novosite {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    max-height: 10vh;
    min-height: 10vh;
    background-color: var(--cinzaclaro2);
    margin: 1vw;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: auto;
    
}


#iconteudo-opcoes-criar-site{
    height: 10vh;
}

.conteudo-opcoes-criar-site {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 20%;
    background-color: var(--cinzaclaro2);
    margin-right: 2vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.conteudo-opcoes-criar-site:hover {
    background-color: var(--transparente1);
    color: var(--cinzaclaro2);
    cursor: pointer;
}

.conteudo-opcoes-novosite:hover {
    background-color: var(--transparente1);
    color: var(--cinzaclaro2);
    cursor: pointer;
}



.conteudo-opcoes-criar-site > h2 {
    margin: auto;
    align-items: center;
}


.conteudo-opcoes-novosite-direito {
    display: inline-block;
    width: 50%;
    height: 50%;
    min-height: 10vh;
    color: var(--cinzaclaro2);
    margin: 1vw;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    padding: 0.5vw;
}

.conteudo-opcoes-criar-site-esquerdo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    color: var(--cinzaclaro2);
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-right: 1vw;
    margin-left: 1vw;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    padding: 0.5vw;
}
.conteudo-opcoes-criar-site-esquerdo > p {
    padding: 0.5vw;
}

.conteudo-informacional {
    color: var(--branco);
    font-size: 1.5em;
    padding: 1vw;
    padding-left: 2vw;
    padding-top: 10vh;
    margin-top: -10vh;
    width: 100%;
    background-color: var(--cinzaescuro2);
}

.conteudo-informacional-base {
    padding-top: 15vh;
    margin-top: -10vh;
    height: 15vh;
    background-color: var(--cinzaescuro2);
    padding: 0.3vw;
}

.conteudo-informacional2 {
    background-color: var(--cinzaclaro1);
    padding: 1vw;
}


#ieditar-pagina {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2vw;
    height: 60vh;
    padding-top: 0vh;
}

.titulo-de-opcao {
    color: var(--cinzaclaro2);
    background-color: var(--cinzaescuro2);
    padding: 1vw;

}


.titulo-de-cabecario-label > h1 {
    display: block;
    width: 100%;
    height: 10%;
    font-size: 1em;
    font-weight: solid;
    color: var(--cinzaescuro2);
    margin-bottom: 0.5vh;
    margin-top: 1vh;
}

.input-titulo-de-cabecario {
    display: block;
    width: 100%;
    min-height: 5%;
    height: 10vh;
    max-height: 10vh;
    border: 1px solid;
    border-color: var(--branco);
    padding: 0.5vw;
    font-size: 1.5em;
}


.area-de-edicao-do-site-classe {
    display: block;
    width: 100%;
    height: 100%;
    /* min-height: 30vh;
    max-height: 30vh; */
    border: 1px solid;
    border-color: var(--branco);
    padding: 0.5vw;
    font-size: 1.2em;
}

.conteudo-fundo-tabela {
    display: flex;
    padding: 0.3vw;
    background-color: var(--cinzaescuro2);
    margin-top: 3%;
}

.tabela-de-opcoes {
    width: 100%;
    background-color: var(--cinzaclaro2);
    text-align: center;
    padding: 0.5vh;
}
.tabela-de-opcoes > thead > tr > th {
    background-color: var(--branco);
    padding: 1vh;
}

.tabela-botoes > a {
    text-decoration: none;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}



#area-de-edicao-do-site-classe-label > h1 {
    margin-top: 2vh;
}

#iarea-de-edicao-do-feedback {
    display: block;
    height: 30vh;
}

#caixa-do-feedback {
    height: 60vh;
}

#caixa-do-feedback > h2 {
    padding: 1vw;
    font-size: 1.2em;
    color: var(--cinzaescuro2);
}

#botao-do-feedback {
    display: block;
    text-decoration: none;
    background-color: var(--branco);
    margin: 1vh;
    margin: auto;
    width: 10vw;
    height: 5vh;
    border: 2px solid var(--cinzaescuro2);
    color: var(--cinzaescuro2);
    font-size: 1.2em;
}

#botao-do-feedback:hover {
    background-color: var(--transparente1);
    color: var(--branco);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);;
}

#conteudo-fundo-feedback {
    padding: 1vh;
}

.summernotediv {
    display: block;
    flex-direction: column;
    background-color: var(--branco);

    
}

@media screen and (max-width: 950px) and (max-height: 550px) {
    .headermenu {
        min-height: 3vh;
        max-height: 3vh;
        font-size: 0.8em;
    }

    nav.navmenu {
        max-height: 6vh;
    }

    .conteudo {
        height: calc(100vh - 4vh);
    }
    .conteudo-informacional > h1 {
        font-size: 0.5em;
    }
    .conteudo-opcoes-novosite {
        max-height: 12vh;
        min-height: 10vh;
    }
    #conteudo-opcoes-novosite-botao {
        font-size: 1.2em;
        padding-top: 0vh;
    }
    .conteudo-opcoes-novosite-direito > p {
        font-size: 0.8em;
    }

    .conteudo-fundo > div > h2{
        font-size: 1.2em;
    }
    .conteudo-fundo > div > h3 {
        font-size: 1em;
    }

}


@media screen and (max-width: 1400px) and (max-height: 800px) {
    
    .headermenu {
        min-height: 6vh;
        max-height: 6vh;
    }

    nav.navmenu {
        max-height: 6vh;
    }

    .conteudo {
        height: calc(100vh - 6vh);
    }
    .conteudo-informacional > h1 {
        font-size: 1.2em;
    }
    .conteudo-opcoes-novosite {
        max-height: 12vh;
        min-height: 10vh;
    }
    #conteudo-opcoes-novosite-botao {
        font-size: 1.2em;
        padding-top: 0vh;
    }
    .conteudo-opcoes-novosite-direito > p {
        font-size: 0.8em;
    }

    .conteudo-fundo > div > h2{
        font-size: 1.2em;
    }
    .conteudo-fundo > div > h3 {
        font-size: 1em;
    }


}

